/*  Author: Jonathan Alvarez 
    github link: https://jalva129.github.io/wunderlust/wunderlust-majorca.html*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*mobile styles*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');

body{
    font-family: 'Molle', cursive;
    width: 428px;
}
header{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(85,188,213,1) 75%);
}
#logo{
  width: 50%;
  height: 50%;
  padding: 5px;
}
h1{
  font-size: 40px;
  padding: 5px;
}
#skip {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip a:focus
{
position:static;
width:auto;
height:auto;
}

p{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
#menu-toggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;  
    padding: 0;
    cursor: pointer;  
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */  
    -webkit-touch-callout: none;
  }
  #menu-toggle label {
    background-color: #F6D64A;
    padding: 20px 15px;
    position: absolute;
    top: 30px;
    right: 50px;
    display: block;
    
  }
  #menu-toggle label span {
    color: black;
   
  }
#menu-toggle {
    display: block;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    top: 50px;
    left: 50px;  
    z-index: 1;  
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  
  #menu-toggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  
  #menu-toggle a:hover {
    color: #4f7794;
  }
 #menu-toggle ul{
    position: absolute;
    width: 428px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #499BD2;
    list-style-type: none;
    /* Hide the menu off-screen to the left */
    right: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease; 
}
#menu-toggle li {
    padding: 10px 0;
    font-size: 22px;
    font-weight: 700px;
  }

  #menu-toggle input:checked ~ ul {
    left: 0;
  }
  
  .sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }